@import url("https://fonts.googleapis.com/css2?family=Betania+Patmos+In+GDL&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  padding: 2rem;
}
h1 {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 4.5rem;
  color: red;
  text-shadow: 1px 1px 20px hotpink;
  text-align: center;
  font-family: "Betania Patmos In GDL", cursive;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .bodyPara {
  width: 40%;
  padding: 2rem;
  border: 1px solid purple;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px white;
}
.bodyPara h2 {
  margin-bottom: 1rem;
}
